.about {
  min-height: 110vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__blurb {
    padding: 0 var(--vw-lg);
    padding-top: var(--vw-lg);
    text-align: left;
    font-size: var(--text-blurb);
    font-weight: var(--medium);
    span {
      color: var(--primary);
    }
    @media (max-width: 1024px) {
      padding: 0;
      font-size: var(--text-xl);
    }
  }
  @media (max-width: 1024px) {
    min-height: 90vh;
  }
}
