.container-fluid {
  display: flex;
  width: var(--inner-size);
  align-items: center;
  justify-content: center;
  &.column {
    flex-direction: column;
  }
  &.aifs {
    align-items: flex-start;
  }
}