.location {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    align-items: flex-start;
    justify-content: center;
    margin: var(--vh-xl) 0;
  }
  .container-fluid {
    height: 50vh;
  }
  &__grid {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0 var(--vw-sm);
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: 20vh repeat(2, 1fr);
      grid-template-areas:
        'title'
        'map'
        'locations';
    }
  }
  &__map {
    height: 100%;
    width: 100%;
    .map {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: 1024px) {
      position: relative;
      grid-area: map;
    }
  }
  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      grid-area: locations;
    }
  }
  &__header {
    height: 15%;
    font-size: var(--text-header);
    margin: 0;
    margin-top: var(--space-lg);
    @media (max-width: 1024px) {
      display: none;
    }
    &--mobile {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -8%;
        left: -2%;
        line-height: 80%;
        padding-bottom: var(--vh-sm);
        text-align: left;
        width: 25%;
        grid-area: title;
        font-size: var(--text-prose);
        font-weight: var(--bold);
        text-transform: lowercase;
        .emph {
          color: var(--primary);
        }
      }
    }
  }
  &__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 1024px) {
      margin-top: var(--vh-md);
    }
    &--item {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--space-3xl);
    }
    .selector-btn {
      cursor: pointer;
      padding: 12px;
      display: flex;
      align-items: center;
      width: 32px;
      height: 4px;
      &.accent {
        span {
          background: var(--accent);
        }
      }
      span {
        width: 16px;
        height: 4px;
        background: var(--primary);
        transition: var(--transition-4-smooth);
      }
    }
    .location-info {
      .title {
        cursor: pointer;
        color: var(--primary);
        font-size: var(--text-prose);
        font-weight: var(--bold);
        &.open {
          color: var(--accent);
        }
      }
      .content {
        width: 70%;
        font-size: var(--text-prose);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        span {
          margin-top: var(--space-lg);
        }
      }
    }
  }
}
