.layout {
  position: relative;
  //remove
  min-height: 300vh;
  //remove
  height: max-content;
  width: 100vw;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  .menu__animation-wrapper {
    z-index: var(--level-nine);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .scroll-progress {
    z-index: var(--level-nine);
    position: fixed;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary);
    transition: var(--transition-2-smooth);
  }
}
