.checkout-button {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  width: 12vw;
  height: 65px;
  padding: var(--space-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: var(--radius-rounded);
  color: var(--white);
  font-size: var(--text-xl);
  font-weight: bold;
  transition: var(--transition-3);
  &:hover {
    transform: scale(1.1);
  }
}