.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      @media (max-width: 1024px) {
        width: 80%;
      }
    }
  }
  &__blurb {
    padding-top: var(--element-margin);
    font-size: var(--text-blurb);
    line-height: 110%;
  }
  &__visit {
    align-self: flex-start;
    display: flex;
    align-items: center;
    color: var(--accent);
    &:hover {
      svg {
        transform: translate(-50%, -50%) scale(2);
      }
    }
    svg {
      transform: translate(-110%, -50%) scale(2);
    }
    path {
      fill: var(--accent);
    }
  }
}
